@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap");
/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-custom {
  background-color: rgb(43, 118, 72);
} */
